.dribbble5 {
	background-color: white;
   

   .btn1 {
   	   height: 40px;
   	   width: 40px;
   	   background-color: purple;
   	   border-radius: 20px;
   	   margin-left: 100px;
   	   margin-top: 100px;
   	   padding-top: 10px;

   	   i {
   	   	color: white;
   	   	margin: 10px;
        text-align: center;
   	   }
   }

   .pic1 {
   	   margin-top: -35px;

   	   img {
   	   height: 25px;
   	   width: 25px;
   	   border-radius: 20px;
   	   margin-left: 180px;
   	}
   }

   .text1 {
   	   margin-left: 220px;
   	   margin-top: -45px;
   	   h3 {color: grey;}

   	   span {color: black;}
   	   a {color: #6fa1da;}
   }

   .verline1 {
   	   height: 70px;
   	   width: 1px;
   	   background-color: #f2f2f2;
   	   margin-left: 120px;
   	   margin-top: -10px;
   }

   .horline1 {
   	   height: 1px;
   	   width: 680px;
   	   background-color: #f2f2f2;
   	   margin-left: 120px;
   	   margin-top: -65px;
   }

    .btn2 {
   	   height: 40px;
   	   width: 40px;
   	   background-color: white;
   	   border-radius: 20px;
   	   margin-left: 100px;
   	   margin-top: 28px;
   	   padding-top: 10px;
   	   border: 1px solid #d1d1d1;

   	   i {
   	   	color: #d1d1d1;
   	   	margin: 10px;
        text-align: center;
   	   }
   }

    .pic2 {
   	   margin-top: -35px;

   	   img {
   	   height: 25px;
   	   width: 25px;
   	   border-radius: 20px;
   	   margin-left: 180px;
   	}
   }

    .text2 {
   	   margin-left: 220px;
   	   margin-top: -45px;
   	   h3 {color: grey;}

   	   span {color: black;}
   	   a {color: #6fa1da;}
   }

    .verline2 {
   	   height: 110px;
   	   width: 1px;
   	   background-color: #f2f2f2;
   	   margin-left: 120px;
   	   margin-top: -50px;
   }

   .dot1 {
   	   height: 15px;
   	   width: 15px;
   	   border-radius: 10px;
   	   border: 3px solid white;
   	   background-color: #f2f2f2;
   	   margin-left: 113px;
   	   margin-top: -53px;
   }

    .horline2 {
   	   height: 1px;
   	   width: 680px;
   	   background-color: #f2f2f2;
   	   margin-left: 120px;
   	   margin-top: -28px;
   }

   .lefttext1 {
   	   margin-left: 30px;
   	   margin-top: -31px;
   	   color: #b5b5b5;
   }

   .btn3 {
   	   height: 40px;
   	   width: 40px;
   	   background-color: white;
   	   border-radius: 20px;
   	   margin-left: 100px;
   	   margin-top: 28px;
   	   padding-top: 10px;
   	   border: 1px solid #d1d1d1;

   	   i {
   	   	color: #d1d1d1;
   	   	margin: 10px;
        text-align: center;
   	   }
   }

    .text3 {
   	   margin-left: 180px;
   	   margin-top: -49px;
   	   h3 {color: #6fa1da;}

   	   span {color: black;}
   	   a {color: #6fa1da;}
   	    img {
   	   height: 25px;
   	   width: 25px;
   	   border-radius: 20px;
   	   margin-left: 5px;
   	}
   }

    .verline3 {
   	   height: 100px;
   	   width: 1px;
   	   background-color: #f2f2f2;
   	   margin-left: 120px;
   	   margin-top: -60px;
   }

   .btn4 {
   	   height: 40px;
   	   width: 40px;
   	   background-color: #f1a42a;
   	   border-radius: 20px;
   	   margin-left: 100px;
   	   margin-top: -20px;
   	   padding-top: 10px;

   	   i {
   	   	color: white;
   	   	margin: 10px;
        text-align: center;
   	   }
   }

     .pic3 {
   	   margin-top: -35px;

   	   img {
   	   height: 25px;
   	   width: 25px;
   	   border-radius: 20px;
   	   margin-left: 180px;
   	}
   }

     .text4 {
   	   margin-left: 220px;
   	   margin-top: -45px;
   	   h3 {color: grey;}

   	   span {color: black;}
   	   a {color: #6fa1da;}
   }

   .verline4 {
   	   height: 110px;
   	   width: 1px;
   	   background-color: #f2f2f2;
   	   margin-left: 120px;
   	   margin-top: -50px;
   }

   .dot2 {
   	   height: 15px;
   	   width: 15px;
   	   border-radius: 10px;
   	   border: 3px solid white;
   	   background-color: #f2f2f2;
   	   margin-left: 113px;
   	   margin-top: -53px;
   }

    .horline3 {
   	   height: 1px;
   	   width: 680px;
   	   background-color: #f2f2f2;
   	   margin-left: 120px;
   	   margin-top: -28px;
   }

    .lefttext2 {
   	   margin-left: 30px;
   	   margin-top: -31px;
   	   color: #b5b5b5;
   }

    .btn5 {
   	   height: 40px;
   	   width: 40px;
   	   background-color: white;
   	   border-radius: 20px;
   	   margin-left: 100px;
   	   margin-top: 28px;
   	   padding-top: 10px;
   	   border: 1px solid #d1d1d1;

   	   i {
   	   	color: #d1d1d1;
   	   	margin: 10px;
        text-align: center;
   	   }
   }

    .text5 {
   	   margin-left: 180px;
   	   margin-top: -49px;
   	   h3 {color: #6fa1da;}

   	   span {color: black;}
   	   a {color: #6fa1da;}
   	    img {
   	   height: 25px;
   	   width: 25px;
   	   border-radius: 20px;
   	   margin-left: 5px;
   	}
   }

    .verline5 {
   	   height: 70px;
   	   width: 1px;
   	   background-color: #f2f2f2;
   	   margin-left: 120px;
   	   margin-top: -60px;
   }

   .bigbox {
   	   height: 130px;
   	   width: 780px;
   	   border: 1px solid #f2f2f2;
   	   background-color: white;
   	   margin-left: 30px;
   	   .bigboxbtn {
   	   height: 40px;
   	   width: 40px;
   	   background-color: #3c7fcb;
   	   border-radius: 20px;
   	   margin-left: 72px;
   	   margin-top: 30px;
   	   padding-top: 10px;

   	   i {
   	   	color: white;
   	   	margin: 10px;
        text-align: center;
   	   }
   }
   } 

   .boxinbox {
   	    height: 80px;
   	    width: 50px;
   	    border: 1px solid #f2f2f2;
   	    background-color: white;
   	    margin-top: -45px;
   	    margin-left: 10px;
   	    text-align: center;
   	    padding-top: 15px;
   	    padding-bottom: 15px;
   	    i {padding-top: 15px;
   	       color: #5943ba;}
   	    h3 {color: #5943ba;
   	        margin-top: -1px;}
   }

   .pic5 {
   	   margin-top: -68px;

   	   img {
   	   height: 25px;
   	   width: 25px;
   	   border-radius: 20px;
   	   margin-left: 155px;
   	}
   }

    .text6 {
   	   margin-left: 198px;
   	   margin-top: -45px;
   	   h3 {color: grey;}

   	   span {color: black;}
   	   a {color: #6fa1da;}
   }

   .line {
   	height: 70px;
   	width: 70px;
   	background-color: white;
   }
}