.dribbble1 {
	background-color: #d1d1d1;


	
	.ver-line1 {
		height: 60px;
		width: 1px;
		border: 1px solid #cccccc;
		margin-left: 140px;
	}

	h2 {
		padding-left: 90px;
	}

	img {
		border-radius: 40px;
		margin-left: 110px;
	}

	.comment1 {
		width: 1650px;
		height: 60px;
		background-color: white;
		margin-left: 200px;
		border-radius: 5px 5px 0px 0px;
		margin-top: -90px;
		border-bottom-color: grey 1px;
	}

    .btn1 {
    	background-color: #6084ad;
    	height: 40px;
    	width: 150px;
    	border: 0px;
    	border-radius: 7px;
    	margin-left: 10px;
    	margin-top: 10px;
    	color: white;
    	
    } 

    #comment1hedline {
    	margin-left: 185px;
    	margin-top: -47px;
    }

    #comment1link {
         color: orange;
         margin-top: -40px;
         margin-left: 330px;

    }

    #comment1icon {
    	color: grey;
    	margin-top: -40px;
    	margin-left: 1300px;
    }

    #comment1date {
    	margin-left: 1350px;
    	margin-top: -38px;
    }

    .comment12 {
    	width: 1650px;
		height: 140px;
		background-color: white;
		margin-left: 200px;
		border-radius: 0px 0px 5px 5px;
		margin-top: -19px;
		font-size: 24px;
		padding-left: 30px;
		padding-top: 20px;
		color: grey;

    }



}