.dribbble2 {
	background-color: #d1e8e6;


	.ver-line1 {
		height: 150px;
		width: 12px;
		background-color: #bfcedc;
		margin-left: 200px;
		margin-top: -30px;
	}

	.btn1r {
		height: 60px;
		width: 60px;
		border-radius: 40px;
		background-color: #00a6e2;
		border: 5px solid white;
		margin-left: 176px;
	}

	#icon1 {
		color: white;
		margin-left: 12px;
		margin-top: -5px;
	}

	.hor-line1 {
		height: 12px;
		width: 70px;
		background-color: #bfcedc;
		margin-left: 235px;
		margin-top: -55px;
	}

	.ver-line2 {
		height: 350px;
		width: 12px;
		background-color: #bfcedc;
		margin-left: 200px;
		margin-top: 1px;
	}

	.box1part1 {
		height: 80px;
		width: 800px;
		background-color: white;
		border-radius: 15px 15px 0px 0px;
		margin-left: 300px;
		border: 2px solid #dbdbdb;
		margin-top: -420px;
		
		box-shadow: 2px 2px 2px  rgba(0,0,5, .5);

		img {
			border-radius: 9px;
			margin-left: 15px;
			margin-top: -9px;
		}

		a {
			color: #0e6ecc;
			font-size: 26px;
			margin-left: 15px;
			margin-top: -29px;
		}

		h2 {
			margin-top: -29px;
			margin-left: 260px;
		}
	}

	.box1part2 {
		height: 175px;
		width: 800px;
		border-radius: 0px 0px 15px 15px;
		margin-left: 300px;
		background-color: #f6f6f6;
		border: 2px solid #dbdbdb;
		box-shadow: 2px 2px 2px rgba(0,0,5, .5);


		h2 {
			margin-left: 20px;
		}

		h1 {
			margin-left: 50px;
		}
	}

	.btn2r {
		height: 60px;
		width: 60px;
		border-radius: 40px;
		background-color: #263d6b;
		border: 5px solid white;
		margin-left: 176px;
		margin-top: 60px;
	}

	#icon2 {
		color: white;
		margin-left: 12px;
		margin-top: -5px;
	}

	.box2part1 {
		height: 80px;
		width: 800px;
		background-color: white;
		border-radius: 15px 15px 0px 0px;
		margin-left: 300px;
		border: 2px solid #dbdbdb;
		margin-top: -50px;
		box-shadow: 2px 2px 2px  rgba(0,0,5, .5);

		img {
			border-radius: 9px;
			margin-left: 15px;
			margin-top: -9px;
		}

		a {
			color: #0e6ecc;
			font-size: 26px;
			margin-left: 15px;
			margin-top: -29px;
		}

		h2 {
			margin-top: -29px;
			margin-left: 260px;
		}
	}

	.box2part2 {
		height: 95px;
		width: 800px;
		border-radius: 0px 0px 15px 15px;
		margin-left: 300px;
		background-color: #f6f6f6;
		border: 2px solid #dbdbdb;
		box-shadow: 2px 2px 2px rgba(0,0,5, .5);

		h2 {
			margin-left: 20px;
		}

		h1 {
			margin-left: 20px;
		}
	}


	.ver-line3 {
		height: 700px;
		width: 12px;
		background-color: #bfcedc;
		margin-left: 200px;
		margin-top: -90px;
	}

	.btn3r {
		height: 60px;
		width: 60px;
		border-radius: 40px;
		background-color: #00a6e2;
		border: 5px solid white;
		margin-left: 176px;
		margin-top: -580px;
	}

	#icon3 {
		color: white;
		margin-left: 12px;
		margin-top: -5px;
	}

	.box3part1 {
		height: 80px;
		width: 800px;
		background-color: white;
		border-radius: 15px 15px 0px 0px;
		margin-left: 300px;
		border: 2px solid #dbdbdb;
		margin-top: -50px;
		box-shadow: 2px 2px 2px  rgba(0,0,5, .5);

		img {
			border-radius: 9px;
			margin-left: 15px;
			margin-top: -9px;
		}

		#box3text1 {
			margin-left: 80px;
			margin-top: -45px;
		}

		#box3link1 {
			font-size: 26px;
			margin-left: 275px;
			margin-top: -50px;

			a {
				color: #0e6ecc;
			}
		}
	}

	#box3pic2 {
		border-radius: 9px;
		margin-left: 400px;
		margin-top: -40px;
	}

	#box3link2 {
			font-size: 26px;
			margin-left: 488px;
			margin-top: -29px;

			a {
				color: #0e6ecc;
			}
		}

	.box3part2 {
		height: 185px;
		width: 800px;
		border-radius: 0px 0px 15px 15px;
		margin-left: 300px;
		background-color: #f6f6f6;
		border: 2px solid #dbdbdb;
		box-shadow: 2px 2px 2px rgba(0,0,5, .5);

		h2 {
			margin-left: 20px;
		}

		h1 {
			margin-left: 20px;
		}
	}

	#box3pic3 {
		margin-left: 700px;
		margin-top: -50px;

		img {
			border-radius: 35px;
		}
	}	

	.box3line {
		height: 2px;
		background-color: #c9c9c9;
		width:750px;
		margin-top: -100px;
		margin-left: 320px;
	}

	#box3icon1 {
		color: grey;
		margin-left: 30px;
		margin-top: 55px;
	}

	#box3link3 {
		margin-left: 65px;
		margin-top: -20px;

		a {
			color: grey;
			font-size: 24px;
		}
	}

	.btn4r {
		height: 60px;
		width: 60px;
		border-radius: 40px;
		background-color: #ff9c00;
		border: 5px solid white;
		margin-left: 176px;
		margin-top: 130px;
	}

	#icon4 {
		color: white;
		margin-left: 12px;
		margin-top: -5px;
	}

	.box4part1 {
		height: 80px;
		width: 800px;
		background-color: white;
		border-radius: 15px 15px 0px 0px;
		margin-left: 300px;
		border: 2px solid #dbdbdb;
		margin-top: -50px;
		box-shadow: 2px 2px 2px  rgba(0,0,5, .5);

		img {
			border-radius: 9px;
			margin-left: 15px;
			margin-top: -9px;
		}

		a {
			color: #0e6ecc;
			font-size: 26px;
			margin-left: 15px;
			margin-top: -32px;
		}

		h2 {
			margin-top: -29px;
			margin-left: 210px;
		}
	}

	.box4part2 {
		height: 95px;
		width: 800px;
		border-radius: 0px 0px 15px 15px;
		margin-left: 300px;
		background-color: #f6f6f6;
		border: 2px solid #dbdbdb;
		box-shadow: 2px 2px 2px rgba(0,0,5, .5);

		h2 {
			margin-left: 20px;
		}

		h1 {
			margin-left: 20px;
		}
	}







}



