.dribbble4 {
	background-color: #f9f9f9;

	.btn1 {
		height: 50px;
		width: 50px;
		border-radius: 30px;
		background-color: white; 
		border: 1px solid grey;
		margin-left: 150px;
		margin-top: 100px;

		.btn11 {
			height: 40px;
			width: 40px;
			background-color: grey;
			border-radius: 30px;
			margin-left: 5px;
			margin-top: 5px;

		}

		i {
			color: white;
			margin-left: 10px;
			margin-bottom: -20px;
		}
	}
}