.tink-news {
	background-color: #bdbdbd;

	.ver-line {
		height: 2300px;
		width: 1px;
		margin-left: 100px;
		border: 1px dashed grey;
		
	}

	#hedline {
		margin-top: -2250px;
		margin-left: 200px;
	}

	.green-btn {
		height: 70px;
		width: 70px;
		background-color: #6ac04f;
		border-radius: 60px;
		margin-left: 66px;
		margin-top: 30px;
	}

	#glyph1 {
		color: white;
		padding-top: 25px;
		margin-left: 27px;
    }

    .box1 {
    	height: 140px;
    	width: 550px;
    	background-color: white;
    	margin-left: 200px;
    	margin-top: -80px;
    	border-radius: 5px;
    }

    #box1hed {
    	
    	font-family: sans-serif, verdana;
    	padding-top: 20px;
    	padding-left: 30px;
    	font-size: 22px;
    }

    #box1num {
    	padding-left: 330px;
    	margin-top: -55px;
    	font-size: 24px;
    }

    #box1text {
    	padding-left: 30px;
    }

    #glyph2 {
    	color: green;
    	margin-top: -45px;
    	margin-left: 270px;
    }

    #box1text2 {
    	padding-left: 320px;
    	margin-top: -45px;
    }

    #glyph3 {
    	color: white;
    	margin-top: -105px;
    	margin-left: 192px;
    	position: absolute;
    }

    #date2 {
    	margin-left: 200px;
    	margin-top: 60px;
    }

    .yellow-btn {
		height: 70px;
		width: 70px;
		background-color: #fcbb31;
		border-radius: 60px;
		margin-left: 66px;
		margin-top: 30px;
    }

    #glyph4 {
    	padding-top: 25px;
		margin-left: 27px;
		color: white;
    }

    .box2 {
    	height: 140px;
    	width: 550px;
    	background-color: white;
    	margin-left: 200px;
    	margin-top: -80px;
    	border-radius: 5px;
    }

    #glyph5 {
    	color: white;
    	margin-top: -105px;
    	margin-left: 192px;
    	position: absolute;
    }

    #box2num {
    	padding-left: 395px;
    	margin-top: -55px;
    	font-size: 24px;
    }

     #date3 {
    	margin-left: 200px;
    	margin-top: 60px;
    }

     .box3 {
    	height: 140px;
    	width: 550px;
    	background-color: white;
    	margin-left: 200px;
    	margin-top: 0px;
    	border-radius: 5px;
    }

    .blue-btn {
		height: 70px;
		width: 70px;
		background-color: #11a3e0;
		border-radius: 60px;
		margin-left: 66px;
		margin-top: -130px;
    }

    #box3num {
    	padding-left: 385px;
    	margin-top: -55px;
    	font-size: 24px;

    }

    #date4 {
    	margin-left: 200px;
    	margin-top: 120px;
    }

     .box4 {
    	height: 640px;
    	width: 550px;
    	background-color: white;
    	margin-left: 200px;
    	margin-top: 0px;
    	border-radius: 5px;
    }

    #glyph6 {
    	color: white;
    	margin-top: -610px;
    	margin-left: 192px;
    	position: absolute;
    }

     .purple-btn {
		height: 70px;
		width: 70px;
		background-color: #f18de8;
		border-radius: 60px;
		margin-left: 66px;
		margin-top: -630px;
    }

     #box4heder {
     	text-align: center;
     	padding-top: 50px;

     	h1 {font-size: 50px;}
     	h3 {margin-top: 0px}
     }

     .left-circle {
     	height: 200px;
     	width: 200px;
     	background-color: #0da2e0;
     	border-radius: 100px;
     	margin-left: 150px;
     	margin-top: -50px;
     }

     .left-cover {
     	height: 200px;
     	width: 60px;
     	background-color: #bdbdbd;
     	margin-left: 140px;
     	margin-top: -220px;
     }

     .right-circle {
     	height: 250px;
     	width: 250px;
     	background-color: #69bf4f;
     	border-radius: 200px;
     	margin-left: 610px;
     	margin-top: -245px;
     }

      .right-cover {
     	height: 280px;
     	width: 150px;
     	background-color: #bdbdbd;
     	margin-left: 750px;
     	margin-top: -280px;
     }

     #box4heder1 {
     	text-align: center;
     	padding-top: 130px;
     }

    #box4text1 {
    	padding-left: 100px;
    } 

    #box4morg {
    	color: grey;
    	padding-left: 100px;
    	margin-top: -120px;
    	font-size: 12px;
    }

    #box4car {
    	color: grey;
    	padding-left: 100px;
    	margin-top: 33px;
    	font-size: 12px;
    }

    #box4res {
    	color: grey;
    	padding-left: 100px;
    	margin-top: 33px;
    	font-size: 12px;
    }

    #box4num1 {
    	font-size: 17px;
    	padding-left: 420px;
    	margin-top: -160px;
    }

    #box4date1 {
    	color: grey;
    	padding-left: 450px;
    	margin-top: -130px;
    }

     #box4date2 {
    	color: grey;
    	padding-left: 460px;
    	margin-top: 36px;
    }

     #box4date3{
    	color: grey;
    	padding-left: 460px;
    	margin-top: 36px;
    }

    #box4glyph1 {
    	color: #0da2e0;
    	margin-left: 60px;
    	margin-top: -165px;
    }

     #box4glyph2 {
    	color: #0da2e0;
    	margin-left: 60px;
    	margin-top: 25px;
    }

     #box4glyph3 {
    	color: #0da2e0;
    	margin-left: 60px;
    	margin-top: 30px;
    }

     #date5 {
    	margin-left: 200px;
    	margin-top: 400px;
    }

     .box5 {
    	height: 170px;
    	width: 550px;
    	background-color: white;
    	margin-left: 200px;
    	margin-top: 0px;
    	border-radius: 5px;
    }

    .yellow-btn2 {
		height: 70px;
		width: 70px;
		background-color: #fcbb31;
		border-radius: 60px;
		margin-left: 66px;
		margin-top: -130px;
    }

    #glyph7 {
    	color: white;
    	margin-left: 22px;
    	margin-top: -40px;
    	padding-top: 20px;
    }

     #glyph-che {
    	color: white;
    	margin-top: -50px;
    	margin-left: 192px;
    	position: absolute;
    }

    #box5left {
    	color: #0da2e0;
    	margin-top: -20px;
    }

    img {
    	margin-left: 600px;
    	margin-top: -90px;
    }

    
     #date6 {
    	margin-left: 200px;
    	margin-top: 80px;
    }

    #box5text1 {
    	padding-left: 420px;
    	margin-top: -42px;
    }

     #glyph-che2 {
    	color: white;
    	margin-top: -15px;
    	margin-left: -8px;
    	position: absolute;
    }

     .yellow-btn3 {
		height: 70px;
		width: 70px;
		background-color: #fcbb31;
		border-radius: 60px;
		margin-left: -135px;
		margin-top: -10px;
    }





}