$column: 100px;
$gutter: 5px;
$grid-columns: 12;
$max-width: 1660px;

.ui-food1 {
	margin-left: 50px;
	
	


	.thumbnail {
		margin-top: 50px;
		box-shadow: 6px 5px 5px 0px  rgba(0,5,5, .5);
		margin-left: 10px;
		border: 0px;
		border-radius: 7px;
		border: 1px solid #b2b2b2;
		height: 450px;
		width: 270px;
		h3 {
			color: #4a4a4a;
			margin-top: -15px;
			font-family: sans-serif, verdana;
			font-size: 20px;
			span {
				color: #0d9ebc;
				padding-left: 20px;
				font-size: 24px;
			}

		}
        p {
        	margin-top: -10px;

        	color: black;
             a {
        	font-size: 16px;
            text-decoration: underline;
            padding-left: 10px;
            text-align: right;}
            img {
            	border-radius: 15px 15px 0px 0px;
            }
        }

        .btn1 {
        	height: 40px;
        	width: 100px;
        	background-color: white;
        	border-radius: 5px;
        	border: 1px solid #e3e3e3;
        	color: grey;
        	font-weight: bold;
        	font-size: 12px;
        	padding-left: 5px;
        	i {
        		margin-right: 10px;
        	}
        }

        .btn-group {
        	.btn2 {
        	height: 40px;
        	width: 65px;
            border-radius: 20px 20px 20px 20px;
            background-color: white;
        	border: 0px;
        	color: grey;
        	font-weight: bold;
        	
            }
        	.btn3 {
        	height: 40px;
        	width: 65px;
            border-radius: 20px 20px 20px 20px;
            background-color: white;
        	border: 0px;
        	color: grey;
        	font-weight: bold;
            }
        }

        .btn-group2 {
        	margin-top: 8px;


        	
        	.btn4 {
        	  height: 40px;
        	  width: 77px;
        	  border-radius: 5px;
        	  border: 0px;
        	  background-color: #e3e3e3;
        	  margin-left: -10px;
        	
        }
		
	}

	.nut-fild {
		height: 50px;
		background-color: #e3e3e3;
		width: 267px;
		margin-left: -13px;
		border-radius: 0px 0px 6px 6px;
		margin-top: 9px;
		
		padding-top: 7px;
		h3 {
			color: grey;
			font-size: 16px;
			margin-left: 30px;
			margin-top: -2px;
		}
		span {
			color: grey;
			font-size: 16px;
			margin-right: 20px;
		}
	}
}
 

	



    .column {
       @include outer-container;
    }
    .column6 {
       @include span-columns(6);
    }

    .column4 {
       @include span-columns(4);
    }

    .column2 {
       @include span-columns(2);
    }

    .column8 {
       @include span-columns(8);
    }

    .column10 {
       @include span-columns(10);
    }

    .column3 {
       @include span-columns(3);
    }

    .column5 {
       @include span-columns(5);
    }

    .column1 {
       @include span-columns(1);
    }

    .column9 {
       @include span-columns(9);
    }



   }