<div class="dribbble3">
	
	<h2>Showing:</h2>
				<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn btn-active">All</button>
				<button class="btn">Notes</button>
				<button class="btn">Emails</button>
				<button class="btn">Calls</button>
				<button class="btn">Mine</button>
			</div>

		<div class="btn1r">
		<h4></h4>
		<div id="icon1">
		<i class="icon-comment icon-large"></i>
		</div>
	</div>	

	<div class="hor-line1">
		<h4></h4>
	</div>

	<div class="ver-line1">
		<h4></h4>
	</div>












</div>