<div class="dribbble5">
	
  <div class="btn1">
  <i class="icon-circle-arrow-up icon-large"></i>
  	<h4></h4>
  </div>

  <div class="pic1">
  	<img src="../images/2pic5.jpg" alt="">
  </div>

  <div class="text1">
  	<h3>chrisloyd  <span>  promoted  </span><a 1 href="">  Auto-archive discusion after n-period</a><a 2 href="">  #622</a></h3>
  </div>

  <div class="verline1">
  	<h4><h4>
  </div>

  <div class="horline1">
  	<h4></h4>
  </div>

  <div class="btn2">
  <i class="icon-comment icon-large"></i>
  	<h4></h4>
  </div>

   <div class="pic2">
  	<img src="../images/2pic1.jpg" alt="">
  </div>

   <div class="text2">
  	<h3>whale  <span>  commented  </span><a 1 href=""> Competion to award 10k in pries to product </a></h3><h3><a href="">the makes the most money in 4 months</a></h3>
  </div>

   <div class="verline2">
  	<h4><h4>
  </div>

  <div class="dot1">
  	<h4></h4>
  </div>

   <div class="horline2">
  	<h4></h4>
  </div>

  <div class="lefttext1">
  	<h5>an hour ago</h5>
  </div>


  <div class="btn3">
  <i class="icon-comment icon-large"></i>
  	<h4></h4>
  </div>

   <div class="text3">
  	<h3>chrisloyd  <span>  promoted  </span><a 1 href="">  Auto-archive discusion after n-period</a><a 2 href="">  #622</a></h3>
  	<img src="../images/2pic1.jpg" alt="">
  	<img src="../images/2pic2.jpg" alt="">
  	<img src="../images/2pic5.jpg" alt="">
  </div>

   <div class="verline3">
  	<h4><h4>
  </div>

   <div class="btn4">
  <i class="icon-star icon-large"></i>
  	<h4></h4>
  </div>

   <div class="pic3">
  	<img src="../images/2pic1.jpg" alt="">
  </div>

   <div class="text4">
  	<h3>chrisloyd <span>  commented  </span><a 1 href=""> Competion to award 10k in pries to pro </a></h3><h3><a href="">the makes the most money in 4 months landing page</a></h3>
  </div>

   <div class="verline4">
  	<h4><h4>
  </div>

   <div class="dot2">
  	<h4></h4>
  </div>

   <div class="horline3">
  	<h4></h4>
  </div>

  <div class="lefttext2">
  	<h5>2 hours ago</h5>
  </div>

   <div class="btn5">
  <i class="icon-comment icon-large"></i>
  	<h4></h4>
  </div>

   <div class="text5">
  	<h3>2 comments  <span>  made on </span><a 1 href=""> Singing up for app ideas who dont work</a></h3>
  	<img src="../images/2pic1.jpg" alt="">
  	<img src="../images/2pic5.jpg" alt="">
  </div>

   <div class="verline5">
  	<h4><h4>
  </div>

  <div class="bigbox">
   <div class="bigboxbtn">
  <i class="icon-random icon-large"></i>
  	<h4></h4>
  </div>
  <div class="boxinbox">
   <i class="icon-eject icon-large"></i>
  	<h3>11</h3>
  </div>
  <div class="pic5">
  	<img src="../images/2pic5.jpg" alt="">
  </div>
  <div class="text6">
  	<h3>jesseods<span>  submmited  </span><a 1 href=""> Competion to award 10k in pries to</a></h3><h3><a href="">the makes the most money in 4 months landing page</a></h3>
  </div>
  	<h4></h4>
  </div>

<div class="line">
	<h4></h4>
</div>




</div>