

<div class="dribbble4">
  <div class="alll">
    <div class="btn1">
       <div class="icon"> 
       <div class="ring"> <i class="icon-file"></i>
       </div>
       </div>
<div class="box1">
  <div class="pic"><img src="../images/2pic2.jpg" alt="">
  	</div>
<div class="boxin">
  <div class="text">
    <div class="text2"><a href="">Zane David</a> uploaded his Model Rocket Ship asignment to <a href="">Science 8S</a></div>
   </div>
<div class="time">12 minutes ago</div>
     </div>
   </div>
  </div>


<div class="btn1">
  <div class="icon">
    <div class="ring"> <i class="icon-comment"></i>
    </div>
    </div>
<div class="box1">
  <div class="pic"><img src="../images/2pic1.jpg" alt="">
  </div>
<div class="boxin">
  <div class="text">
    <div class="text2"><a href="">Calum Chapman</a> asked a question about Modal Rocket Ship in <a href="">Science 8S</a> 
    </div>
</div>
  <div class="time">17 minutes ago</div>
  </div>
 </div>
</div>

<div class="verline"></div>


<div class="btn1">
  <div class="icon">
    <div class="ring"> <i class="icon-user"></i>
    </div>
  </div>
 <div class="box1">
   <div class="pic"><img src="../images/2pic5.jpg" alt="">
   </div>
  <div class="boxin">
   <div class="text">
     <div class="text2"><a href="">Terry Rised</a> added you as a friend from<a href="">Scence 8S</a> & <a href="">Geography 8G</a></div>
    </div>
   <div class="time">23 minutes ago</div>
    </div>
  </div>
</div>

  <div class="btn1">
    <div class="icon">
      <div class="ring"> <i class="icon-comment"></i></div></div>
    <div class="box1">
   <div class="pic"><img src="../images/2pic5.jpg" alt=""></div>
  <div class="boxin">
  <div class="text">
  <div class="text2"><a href="">Callum Chapman</a> left a replay to your question in <a href="">Science 8S</a></div>
</div>
  <div class="time">26 minutes ago</div>
    </div>
   </div>
</div>


<div class="btn1">
   <div class="icon"> 
   <div class="ring"> <i class="icon-file"></i></div></div>
    <div class="box1">
     <div class="pic"><img src="../images/2pic2.jpg" alt=""></div>
      <div class="boxin">
        <div class="text">
       <div class="text2"><a href="">Zane David</a> uploaded hid Mid Term Practice Exam to <a href="">Maths 8M</a></div>
    </div>
   <div class="time">38 minutes ago</div>
     </div>
    </div>
</div>

<div class="btn1">
      <div class="icon">
         <div class="ring"> <i class="icon-user"></i></div></div>
     <div class="box1">
    <div class="pic"><img src="../images/2pic1.jpg" alt=""></div>
  <div class="boxin">
     <div class="text">
           <div class="text2"><a href="">Ashley Glascow</a> added you as a friend from<a href="">Maths 8M</a></div>
    </div>
  <div class="time">59 minutes ago</div>
        </div>
      </div>
   </div>
   
    </div>
</div>