<div class="dribbble1">
	
   <div class="ver-line1">
   	<h4></h4>
   </div>
   
   <h2><bold>T O D A Y </bold> -  15 Dec Monday</h2>

   <div class="ver-line1">
   	<h4></h4>
   </div>
   <img src="../images/persona.jpg" alt="" class="img-circle"/>
   </div>

   <div class="comment1">
   	   <h4></h4>
   	   <button class="btn1" disabled>COMMENT</button>
   	   <div id="comment1hedline">
   	   <h3>Alice posted a comment on this task: </h3>
       <div id="comment1link">
   	   <h3>Design a New Homepage</h3>
   	   </div>
   	   <div id="comment1icon">
   	   <i class="icon-time icon-large"></i>
   	   </div>
   	   <div id="comment1date">
   	   <h3>1 Hour ago</h3>
   	   </div>
   	   </div>
   </div>
    <div class="comment12">
    	<h4> An element is composed of three parts: an opening tag, content, and a closing tag. There are a few elements, that are an exception to this rule. Opening tags can have attributes. We’ve seen one already: type.</h4>
    </div>



</div>