<div class="dribbble3">
	
	<h2>Showing:</h2>
				<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn btn-active">All</button>
				<button class="btn">Notes</button>
				<button class="btn">Emails</button>
				<button class="btn">Calls</button>
				<button class="btn">Mine</button>
			</div>

		<div class="btn1r">
		<h4></h4>
		<div id="icon1">
		<i class="icon-comment icon-large"></i>
		</div>
	</div>	

	<div class="hor-line1">
		<h4></h4>
	</div>

	<div class="box1">
		<h4></h4>
		<h3>There is a always banana in the Banana Stand</h3>
		<h4>Note written <a href="">3 days ago</a></h4>
		<div id="box1pic1">
		<img src="../images/2pic1.jpg" alt="">
		<h2>Phill</h2>
		</div>
	</div>


		<div class="btn2r">
		<h4></h4>
		<div id="icon2">
		<i class="icon-volume-up icon-large"></i>
		</div>
	</div>	

	<div class="hor-line2">
		<h4></h4>
	</div>

	<div class="box2">
		<h4></h4>
		<h3>Pitched enterprise plan!</h3>
		<h3>Yes!</h3>
		<h3>Closed!</h3>
		<h4>Calls from <a href=""> Gobs Bluth</a></h4>
		<h5>- 30 seconds <a href="">12 days ago</a></h5>
		<div id="box2pic1">
		<img src="../images/2pic2.jpg" alt="">
		<h2>Rhonda</h2>
		</div>
	</div>


		<div class="btn3r">
		<h4></h4>
		<div id="icon3">
		<i class="icon-envelope icon-large"></i>
		</div>
	</div>	

	<div class="hor-line3">
		<h4></h4>
	</div>

	<div class="box3">
	<div id="box3link1">
		<a href="">Quick Call this week?</a>
		</div>
		<div id="box3pic1">
		<img src="../images/2pic2.jpg" alt="">
		</div>
		<h2>Rhonda</h2>
		<h3>Hi Gob. Are you aveliable t chat this week about a getting Blooth Company...</h3>
		<h4>Emailed</h4>
		<div id="box3link2">
		<a href="">Gob Bluth</a>
		</div>
		<div id="box3link3">
		<a href="">13 days ago</a>
		</div>
		<div id="box3icon1">
		<i class="icon-envelope icon-large"></i>
		</div>
		<div id="box3icon2">
		<i class="icon-circle-arrow-left icon-large"></i>
		</div>
		<div id="box3icon3">
		<i class="icon-circle-arrow-right icon-large"></i>
		</div>
		<div id="box3icon4">
		<i class="icon-trash icon-large"></i>
		</div>
		
	</div>


	<div class="btn-small">
		<h4></h4>
	</div>


		<div class="btn4r">
		<h4></h4>
		<div id="icon4">
		<i class="icon-volume-up icon-large"></i>
		</div>
	</div>	

	<div class="hor-line4">
		<h4></h4>
	</div>


	<div class="box4">
		
		<h4>Calls from <a href=""> Gobs Bluth</a></h4>
		<h5>- 30 seconds <a href="">12 days ago</a></h5>
		<div id="box4pic1">
		<img src="../images/2pic2.jpg" alt="">
		<h2>Rhonda</h2>
		</div>
	</div>

	<div class="btn5r">
		<h4></h4>
		<div id="icon5">
		<i class="icon-envelope icon-large"></i>
		</div>
	</div>	

	<div class="hor-line5">
		<h4></h4>
	</div>


	<div class="box3">
	<div id="box3link1">
		<a href="">Information your requested</a>
		</div>
		<div id="box3pic1">
		<img src="../images/2pic5.jpg" alt="">
		</div>
		<h2>Jennifer</h2>
		<h3>Hi Gob. I hope things going well at your company, Bluth Company...</h3>
		<h4>Emailed</h4>
		<div id="box3link2">
		<a href="">Gob Bluth</a>
		</div>
		<div id="box3link3">
		<a href="">13 days ago</a>
		</div>
		<div id="box3icon1">
		<i class="icon-envelope icon-large"></i>
		</div>
		<div id="box3icon2">
		<i class="icon-circle-arrow-left icon-large"></i>
		</div>
		<div id="box3icon3">
		<i class="icon-circle-arrow-right icon-large"></i>
		</div>
		<div id="box3icon4">
		<i class="icon-trash icon-large"></i>
		</div>
		
	</div>

    <div class="btn6r">
		<h4></h4>
		<div id="icon6">
		<i class="icon-volume-up icon-large"></i>
		</div>
	</div>	

	<div class="hor-line6">
		<h4></h4>
	</div>

	<div class="box6">
		<h4></h4>
		<h3>Very exicited about product and oportunity. We want to bay a pro plan</h3>
		<h3>now. Send over email about details and call back to get payment</h3> 
		
		<h4>Calls from <a href=""> Gobs Bluth</a></h4>
		<h5>- 30 seconds <a href="">12 days ago</a></h5>
		<div id="box6pic1">
		<img src="../images/2pic5.jpg" alt="">
		<h2>Jennifer</h2>
		</div>
	</div>
		

	
		<div class="btn7r">
		<h4></h4>
		<div id="icon7">
		<i class="icon-volume-up icon-large"></i>
		</div>
	</div>	

	<div class="hor-line7">
		<h4></h4>
	</div>

	<div class="box7">
		
		<h4>Voicemail (27 seconds) <a href=""> from +884 685 900</a></h4>
		<h5>-  <a href="">12 days ago</a></h5>
		<div id="box7pic1">
		<img src="../images/2pic2.jpg" alt="">
		<h2>Rhonda</h2>
		</div>
	</div>


		<div class="btn8r">
		<h4></h4>
		<div id="icon8">
		<i class="icon-calendar icon-large"></i>
		</div>
	</div>	

	<div class="hor-line8">
		<h4></h4>
	</div>

	<div class="box8">
		
		<h4>Created Mannualy</h4>
		<h5>-  <a href="">8 months ago</a></h5>
		<div id="box8pic1">
		<img src="../images/2pic1.jpg" alt="">
		<h2>Phill</h2>
		</div>
	</div>

	



	



	

	












</div>