<div class="tink-news">
	
	<div class="ver-line">
		<h4></h4>
	</div>
	<div id="hedline">
	<h2>TODAY</h2>
      </div>
	<div class="green-btn">
		<div id="glyph1">
		<i class="icon-book icon-large"></i>
		</div>
	</div>
	<div class="box1">
		<div id="box1hed">
		<h1>Income</h1>
        </div>
        <div id="box1num">
        <h1>+6 500kr</h1>
        </div>
        <div id="box1text">
        <h2>Car payment fr. Kikki</h2>
        <div id="glyph2">
        <i class="icon-circle-arrow-right icon-large"></i>
        </div>
        <div id="box1text2">
        <h2>Checking</h2>
        </div>
        </div>
	</div>
    <div id="glyph3">
	<i class="icon-chevron-left icon-large"></i>
	</div>

	<div id="date2">
	  <h2>THURSDAY</h2>
	</div>

	<div class="yellow-btn">
		<div id="glyph4">
		<i class="icon-info-sign icon-large"></i>
		</div>
	</div>

	<div class="box2">
	   <div id="box1hed">
		<h1>Low Balance</h1>
        </div>
        <div id="box2num">
        <h1>391kr</h1>
        </div>
        <div id="box1text">
        <h2>Checking, Swedbank</h2>
       </div>
	</div>

	 <div id="glyph5">
	<i class="icon-chevron-left icon-large"></i>
	</div>

	<div id="date3">
	  <h2>SEPTEMBER 1-3</h2>
	</div>

	<div class="box3">
	   <div id="box1hed">
		<h1>4 expenses</h1>
        </div>
        <div id="box3num">
        <h1>-492kr</h1>
        </div>
        <div id="box1text">
        <h2>McDonalds, Elgiganten, Riggoleto Bio...</h2>
       </div>
	</div>

	 <div id="glyph5">
	<i class="icon-chevron-left icon-large"></i>
	</div>

	<div class="blue-btn">
		<div id="glyph4">
		<i class="icon-shopping-cart icon-large"></i>
		</div>
	</div>





</div>