


<div class="tink-news">

<div class="ver-line">
		<h4></h4>
	</div>
	
	
	<div id="hedline">
	<h2>TODAY</h2>
      </div>
	<div class="green-btn">
		<div id="glyph1">
		<i class="icon-book icon-large"></i>
		</div>
	</div>
	<div class="box1">
		<div id="box1hed">
		<h1>Income</h1>
        </div>
        <div id="box1num">
        <h1>+6 500kr</h1>
        </div>
        <div id="box1text">
        <h2>Car payment fr. Kikki</h2>
        <div id="glyph2">
        <i class="icon-circle-arrow-right icon-large"></i>
        </div>
        <div id="box1text2">
        <h2>Checking</h2>
        </div>
        </div>
	</div>
    <div id="glyph3">
	<i class="icon-chevron-left icon-large"></i>
	</div>

	<div id="date2">
	  <h2>THURSDAY</h2>
	</div>

	<div class="yellow-btn">
		<div id="glyph4">
		<i class="icon-info-sign icon-large"></i>
		</div>
	</div>

	<div class="box2">
	   <div id="box1hed">
		<h1>Low Balance</h1>
        </div>
        <div id="box2num">
        <h1>391kr</h1>
        </div>
        <div id="box1text">
        <h2>Checking, Swedbank</h2>
       </div>
	</div>

	 <div id="glyph5">
	<i class="icon-chevron-left icon-large"></i>
	</div>

	<div id="date3">
	  <h2>SEPTEMBER 1-3</h2>
	</div>

	<div class="box3">
	   <div id="box1hed">
		<h1>4 expenses</h1>
        </div>
        <div id="box3num">
        <h1>-492kr</h1>
        </div>
        <div id="box1text">
        <h2>McDonalds, Elgiganten, Riggoleto Bio...</h2>
       </div>
	</div>

	 <div id="glyph5">
	<i class="icon-chevron-left icon-large"></i>
	</div>

	<div class="blue-btn">
		<div id="glyph4">
		<i class="icon-shopping-cart icon-large"></i>
		</div>
	</div>

	<div id="date4">
	  <h2>WDNESDEY, AUGUST 26</h2>
	</div>

	<div class="box4">
	   <div id="box4heder">
	   <h1>August</h1>
	   <h3>LEFT TO SPEND</h3>
	   <h1>6 450</h1>
	   <h3>kr</h3>
       </div>
	   <div id="box4heder1">
	   <h3>LARGEST EXPENSES</h3>
	   </div>
	   <div id="box4text1">
	   <h2>Swedbank</h2>
	   <h2>Peugeot service</h2>
	   <h2>Taverna Brillo</h2>
	   </div>
	   <div id="box4morg">
	   <h3>Home Mortgage</h3>
	   </div>
	   <div id="box4car">
	   <h3>Car</h3>
	   </div>
	   <div id="box4res">
	   <h3>Restaurant</h3>
	   </div>
	   <div id="box4num1">
	   <h2>6 202kr</h2>
	   <h2>4 908kr</h2>
	   <h2>1 952kr</h2>
	   </div>
	   <div id="box4date1">
	   <h4>Aug 09</h4>
	   </div>
	   <div id="box4date2">
	   <h4>Jul 29</h4>
	   </div>
	   <div id="box4date3">
	   <h4>Jul 22</h4>
	   </div>
	   <div id="box4glyph1">
	   <i class="icon-home icon-large"></i>
	   </div>
	    <div id="box4glyph2">
	   <i class="icon-road icon-large"></i>
	   </div>
	    <div id="box4glyph3">
	   <i class="icon-glass icon-large"></i>
	   </div>

	</div>

	 <div id="glyph6">
	<i class="icon-chevron-left icon-large"></i>
	</div>

	<div class="purple-btn">
		<div id="glyph4">
		<i class="icon-info-sign icon-large"></i>
		</div>
	</div>

	<div class="left-circle">
		<h4></h4>
	</div>

	<div class="left-cover">
		<h4></h4>
	</div>

	<div class="right-circle">
		<h4></h4>
	</div>

	<div class="right-cover">
		<h4></h4>
	</div>

	<div id="date5">
	  <h2>FRIDAY, AUGUST 23</h2>
	</div>

	<div class="box5">
	   <div id="box1hed">
		<h1>Close to budget</h1>
        </div>
        
        <div id="box1text">
        <h2>Restaurant</h2>
        <div id="box5left">
        <h2>283kr left</h2>
        </div>
       </div>
	</div>

	<div class="yellow-btn2">
		<div id="glyph7">
		<i class="icon-shopping-cart icon-large"></i>
		</div>
	</div>

	 <div id="glyph-che">
	<i class="icon-chevron-left icon-large"></i>
	</div>

	<img src="../images/food.png" alt="">

	<div id="date6">
	  <h2>FRIDAY, AUGUST 23</h2>
	</div>
    
    <div class="box5">
	   <div id="box1hed">
		<h1>More then usual</h1>
        </div>
        <div id="box5text1">
        <h1>2 156kr</h1>
       </div>

         <div id="glyph-che2">
	<i class="icon-chevron-left icon-large"></i>
	</div> 

	<div class="yellow-btn3">
		<div id="glyph7">
		<i class="icon-shopping-cart icon-large"></i>
		</div>
	</div>



        
        
	</div>


	






</div>