<div class="ui-food2">
	
	<div class="column">
		<div class="column6">
			<div class="fild1">
			<img src="../images/milk11.jpg" alt="">
				<h4></h4>
			</div>
		</div>
		<div class="column6">
			<div class="fild2">
			<img src="../images/milk12.jpg" alt="">
				<h4></h4>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="column6">
			<div class="fild3">
			<img src="../images/milk13.jpg" alt="">
				<h4></h4>
			</div>
		</div>
		<div class="column6">
			<div class="fild4">
			<img src="../images/milk14.jpg" alt="">
				<h4></h4>
			</div>
		</div>
	</div>
</div>