<div class="ui-food1">
	
	<div class="column">
	  <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk3.jpg" alt="" />
				<div class="caption">
				<h3>0,89 eur</h3>
					<p class="muted">Moja Kravica 1l. Pasterizvano 2,8% mlecne masti. <a href="">Opsirnije</a> </p>
				<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
	      <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk2.jpg" alt="" />
				<div class="caption">
					<h3>0,99 eur</h3>
						<p>Alpsko mleko 1l. Pasterizovano 1,6% mlecne masti. <a href="">Opsirnije</a>  </p>
						<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
	      <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk3.jpg" alt="" />
				<div class="caption">
					<h3>0,79 eur</h3>
						<p class="muted">Zbregov mleko 1l. Pasterizovano 3,2% mlecne masti. <a href="">Opsirnije</a> </p>
						<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
	      <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk6.jpg" alt="" />
				<div class="caption">
					<h3>0,74 eur</h3>
						<p class="muted">Zbregov mleko 1l. Pasterizovano 3,2% mlecne masti. <a href="">Opsirnije</a> </p>
						<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
	       <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk3.jpg" alt="" />
				<div class="caption">
					<h3>0,59 eur</h3>
						<p class="muted">Zbregov mleko 1l. Pasterizovano 3,2% mlecne masti.  <a href="">Opsirnije</a> </p>
						<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
    </div>

    <div class="column">
	  <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk3.jpg" alt="" />
				<div class="caption">
					<h3>0,89 eur</h3>
						<p class="muted">Moja Kravica 1l. Pasterizvano 2,8% mlecne masti. <a href="">Opsirnije</a> </p>
						<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
	      <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk2.jpg" alt="" />
				<div class="caption">
					<h3>0,99 eur</h3>
						<p class="muted">Alpsko mleko 1l. Pasterizovano 1,6% mlecne masti. <a href="">Opsirnije</a>  </p>
						<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
	      <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk3.jpg" alt="" />
				<div class="caption">
					<h3>0,79 eur</h3>
						<p class="muted">Zbregov mleko 1l. Pasterizovano 3,2% mlecne masti. <a href="">Opsirnije</a> </p>
						<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			    <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
	      <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk6.jpg" alt="" />
				<div class="caption">
					<h3>0,74 eur</h3>
						<p class="muted">Zbregov mleko 1l. Pasterizovano 3,2% mlecne masti. <a href="">Opsirnije</a>  </p>
						<button class="btn1"><i class="icon-shopping-cart icon-large"> </i>  Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>
	       <ul class="column2">
	  	<div class="thumbnail">
			<img src="../images/milk3.jpg" alt="" />
				<div class="caption">
					<h3>0,59 eur</h3>
						<p class="muted">Zbregov mleko 1l. Pasterizovano 3,2% mlecne masti. <a href="">Opsirnije</a> </p>
						 <button class="btn1"><i class="icon-shopping-cart icon-large"></i> Kupi
			    </button>
			     <div class="btn-group">
			    	<button class="btn2"><i class="icon-thumbs-up icon-large"> </i> 48 
			    </button>
			    <button class="btn3"><i class="icon-thumbs-down icon-large"> </i> 12 
			    </button>
			    </div>
					</div>
				</div>
	      </ul>

	      

		
		
			
		
	</div>


</div>