<div class="ui-food4">
	
	<div class="column">
		<div class="column4">
		<img src="../images/milk100.jpg" alt="">
			<h2>Mlijeko Moja Kravica, 2,8% mm</h2>
			<div class="bigtext">
				<p>O mlijeku kao ljekovitom sastojku postoje mnoga vjerovanja. Postoje tvrdnje povjesničara i nekih suvremenih stručnjaka da kupanje u mlijeku ili umiv anje mlijekom štiti kožu i daje joj ljepši izgled.
                Postoji vjerovanje da je tajna dugovječnosti kod ljudi na Kavkazu i u nekim drugim krajevima u tome što su skoro cijelog života koristili mliječne proizvode u velikoj kolini za hranu.</p>
			</div>
		</div>

		<div class="column4">
		<img src="../images/milk101.jpg" alt="">
		<h2>Mlijeko Moja Kravica, 2,8% mm</h2>
			<div class="bigtext">
				<p>O mlijeku kao ljekovitom sastojku postoje mnoga vjerovanja. Postoje tvrdnje povjesničara i nekih suvremenih stručnjaka da kupanje u mlijeku ili umiv anje mlijekom štiti kožu i daje joj ljepši izgled.
                Postoji vjerovanje da je tajna dugovječnosti kod ljudi na Kavkazu i u nekim drugim krajevima u tome što su skoro cijelog života koristili mliječne proizvode u velikoj kolini za hranu.</p>
			</div>
			<h4></h4>
		</div>

		<div class="column4">
		<img src="../images/milk103.jpg" alt="">
		<h2>Mlijeko Moja Kravica, 2,8% mm</h2>
			<div class="bigtext">
				<p>O mlijeku kao ljekovitom sastojku postoje mnoga vjerovanja. Postoje tvrdnje povjesničara i nekih suvremenih stručnjaka da kupanje u mlijeku ili umiv anje mlijekom štiti kožu i daje joj ljepši izgled.
                Postoji vjerovanje da je tajna dugovječnosti kod ljudi na Kavkazu i u nekim drugim krajevima u tome što su skoro cijelog života koristili mliječne proizvode u velikoj kolini za hranu.</p>
			</div>
			<h4></h4>
		</div>
	</div>


	

</div>