<div class="ui-food3">
	<div class="boxx">
	<h1> Top Rated Products</h1>
	<div class="btn-group">
	 <button class="btn1"><i class="icon-star icon-large"></i></button>
	  <button class="btn1"><i class="icon-star icon-large"></i></button>
	   <button class="btn1"><i class="icon-star icon-large"></i></button>
	    <button class="btn1"><i class="icon-star icon-large"></i></button>
	     <button class="btn1"><i class="icon-star-empty icon-large"></i></button>
			    </div>
	<div class="column">

		<div class="column3">
			<img src="../images/milk100.jpg" alt="">
			<h3>Moja Kravica Mlijeko<span>by</span>Imlek</h3>
			<div class="line1">
			<h4></h4>
			</div>
			<div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="price1">
						<h3>0,87eur</h3>
					</div>
					<div class="price2">
						<h3>0,89eur</h3>
					</div>
					<div class="price3">
						<h3>0,79eur</h3>
					</div>
					<div class="line2">
			<h4></h4>
			</div>
			<div class="lastbox">
			<div class="icon1">
			<h5> <i class="icon-eye-open icon-large"></i> 7.856</h5>
			</div>
			<div class="icon2">
			<h5> <i class="icon-thumbs-up icon-large"></i> 1.349</h5>
			</div>
			<div class="icon3">
			<h5> <i class="icon-thumbs-down icon-large"></i> 502</h5>
			</div>
			</div>
		</div>
		<div class="column3">
			<img src="../images/milk101.jpg" alt="">
			<h3>Moja Kravica Mlijeko<span>by</span>Imlek</h3>
			<div class="line1">
			<h4></h4>
			</div>
			<div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="price1">
						<h3>0,87eur</h3>
					</div>
					<div class="price2">
						<h3>0,89eur</h3>
					</div>
					<div class="price3">
						<h3>0,79eur</h3>
					</div>
					<div class="line2">
			<h4></h4>
			</div>
			<div class="lastbox">
			<div class="icon1">
			<h5> <i class="icon-eye-open icon-large"></i> 7.856</h5>
			</div>
			<div class="icon2">
			<h5> <i class="icon-thumbs-up icon-large"></i> 1.349</h5>
			</div>
			<div class="icon3">
			<h5> <i class="icon-thumbs-down icon-large"></i> 502</h5>
			</div>
			</div>
		</div>
		<div class="column3">
			<img src="../images/milk102.jpg" alt="">
			<h3>Moja Kravica Mlijeko<span>by</span>Imlek</h3>
			<div class="line1">
			<h4></h4>
			</div>
			<div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="price1">
						<h3>0,87eur</h3>
					</div>
					<div class="price2">
						<h3>0,89eur</h3>
					</div>
					<div class="price3">
						<h3>0,79eur</h3>
					</div>
					<div class="line2">
			<h4></h4>
			</div>
			<div class="lastbox">
			<div class="icon1">
			<h5> <i class="icon-eye-open icon-large"></i> 7.856</h5>
			</div>
			<div class="icon2">
			<h5> <i class="icon-thumbs-up icon-large"></i> 1.349</h5>
			</div>
			<div class="icon3">
			<h5> <i class="icon-thumbs-down icon-large"></i> 502</h5>
			</div>
			</div>
		</div>
		<div class="column3">
			<img src="../images/milk103.jpg" alt="">
			<h3>Moja Kravica Mlijeko<span>by</span>Imlek</h3>
			<div class="line1">
			<h4></h4>
			</div>
			<div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="price1">
						<h3>0,87eur</h3>
					</div>
					<div class="price2">
						<h3>0,89eur</h3>
					</div>
					<div class="price3">
						<h3>0,79eur</h3>
					</div>
					<div class="line2">
			<h4></h4>
			</div>
			<div class="lastbox">
			<div class="icon1">
			<h5> <i class="icon-eye-open icon-large"></i> 7.856</h5>
			</div>
			<div class="icon2">
			<h5> <i class="icon-thumbs-up icon-large"></i> 1.349</h5>
			</div>
			<div class="icon3">
			<h5> <i class="icon-thumbs-down icon-large"></i> 502</h5>
			</div>
			</div>
		</div>
		</div>
    </div>

   
    <div class="boxx2">
    <div class="column">
		<div class="column3">
			<img src="../images/milk101.jpg" alt="">
			<h3>Moja Kravica Mlijeko<span>by</span>Imlek</h3>
			<div class="line1">
			<h4></h4>
			</div>
			<div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="price1">
						<h3>0,87eur</h3>
					</div>
					<div class="price2">
						<h3>0,89eur</h3>
					</div>
					<div class="price3">
						<h3>0,79eur</h3>
					</div>
					<div class="line2">
			<h4></h4>
			</div>
			<div class="lastbox">
			<div class="icon1">
			<h5> <i class="icon-eye-open icon-large"></i> 7.856</h5>
			</div>
			<div class="icon2">
			<h5> <i class="icon-thumbs-up icon-large"></i> 1.349</h5>
			</div>
			<div class="icon3">
			<h5> <i class="icon-thumbs-down icon-large"></i> 502</h5>
			</div>
			</div>
		</div>
		<div class="column3">
			<img src="../images/milk102.jpg" alt="">
			<h3>Moja Kravica Mlijeko<span>by</span>Imlek</h3>
			<div class="line1">
			<h4></h4>
			</div>
			<div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="price1">
						<h3>0,87eur</h3>
					</div>
					<div class="price2">
						<h3>0,89eur</h3>
					</div>
					<div class="price3">
						<h3>0,79eur</h3>
					</div>
					<div class="line2">
			<h4></h4>
			</div>
			<div class="lastbox">
			<div class="icon1">
			<h5> <i class="icon-eye-open icon-large"></i> 7.856</h5>
			</div>
			<div class="icon2">
			<h5> <i class="icon-thumbs-up icon-large"></i> 1.349</h5>
			</div>
			<div class="icon3">
			<h5> <i class="icon-thumbs-down icon-large"></i> 502</h5>
			</div>
			</div>
		</div>
		<div class="column3">
			<img src="../images/milk103.jpg" alt="">
			<h3>Moja Kravica Mlijeko<span>by</span>Imlek</h3>
			<div class="line1">
			<h4></h4>
			</div>
			<div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="price1">
						<h3>0,87eur</h3>
					</div>
					<div class="price2">
						<h3>0,89eur</h3>
					</div>
					<div class="price3">
						<h3>0,79eur</h3>
					</div>
					<div class="line2">
			<h4></h4>
			</div>
			<div class="lastbox">
			<div class="icon1">
			<h5> <i class="icon-eye-open icon-large"></i> 7.856</h5>
			</div>
			<div class="icon2">
			<h5> <i class="icon-thumbs-up icon-large"></i> 1.349</h5>
			</div>
			<div class="icon3">
			<h5> <i class="icon-thumbs-down icon-large"></i> 502</h5>
			</div>
			</div>
		</div>
		<div class="column3">
			<img src="../images/milk100.jpg" alt="">
			<h3>Moja Kravica Mlijeko<span>by</span>Imlek</h3>
			<div class="line1">
			<h4></h4>
			</div>
			<div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="price1">
						<h3>0,87eur</h3>
					</div>
					<div class="price2">
						<h3>0,89eur</h3>
					</div>
					<div class="price3">
						<h3>0,79eur</h3>
					</div>
					<div class="line2">
			<h4></h4>
			</div>
		     <div class="lastbox">
			<div class="icon1">
			<h5> <i class="icon-eye-open icon-large"></i>  7.856</h5>
			</div>
			<div class="icon2">
			<h5> <i class="icon-thumbs-up icon-large"></i>  1.349</h5>
			</div>
			<div class="icon3">
			<h5> <i class="icon-thumbs-down icon-large"></i>  302</h5>
			
			</div>
			</div>
		</div>
    </div>

   </div> 


</div>