<div class="ui-food3">
	
	<div class="column">
		<div class="column3">
			<img src="../images/milk100.jpg" alt="">
			<h2>Moja Kravica Mlijeko</h2>
		</div>
		<div class="column3">
			<img src="../images/milk101.jpg" alt="">
		</div>
		<div class="column3">
			<img src="../images/milk102.jpg" alt="">
		</div>
		<div class="column3">
			<img src="../images/milk103.jpg" alt="">
		</div>
    </div>

   

    <div class="column">
		<div class="column3">
			<img src="../images/milk101.jpg" alt="">
		</div>
		<div class="column3">
			<img src="../images/milk102.jpg" alt="">
		</div>
		<div class="column3">
			<img src="../images/milk103.jpg" alt="">
		</div>
		<div class="column3">
			<img src="../images/milk100.jpg" alt="">
		</div>
    </div>

    


</div>