<div class="ui-food2">
	
	<div class="column">
		<div class="column6">
		  
			<div class="fild1">
			<img src="../images/milk11.jpg" alt="">
			<h3>ALPSKO MLIJEKO</h3>
			<h5>117.856<i class="icon-thumbs-up icon-large"></i></h5>
			<h4>by<span>Imlek</span></h4>
			
			<div class="bigtext1">
			<p>Mlijeko sadrži izrazito mnogo hranjivih tvari, a najčeće se, uz ugljiko
			hidrate laktozu, mliječne masti i bjelae vine, ističu još minerali, od kojih su najvažniji kalcij, fosfor, kalij i magnezij, te vitamini vitamin D, vitamin A.</p></div>
			 <div class="btn-group">
			    	<button class="btn4">268 (kj)</button>
			    	<button class="btn4">64 (kcal)</button>
			    	<button class="btn4">4,7 (g)</button>
			    	<button class="btn4">500 (ml)</button>
			    </div>
			    <div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="pic1price">
						<h4>0,89eur</h4>
					</div>
					<div class="pic2price">
						<h4>0,99eur</h4>
					</div>
					<div class="pic3price">
						<h4>0,79eur</h4>
					</div>
					</div>
					
					
		</div>
		<div class="column6">
			<div class="fild1">
			<img src="../images/milk12.jpg" alt="">
			<h3>ALPSKO MLIJEKO</h3>
			<h5>117.856<i class="icon-thumbs-up icon-large"></i></h5>
			<h4>by<span>Imlek</span></h4>
			<div class="bigtext1">
			<p>Mlijeko sadrži izrazito mnogo hranjivih tvari, a najčeće se, uz ugljiko
			hidrate laktozu, mliječne masti i bjelae vine, ističu još minerali, od kojih su najvažniji kalcij, fosfor, kalij i magnezij, te vitamini vitamin D, vitamin A.</p></div>
			 <div class="btn-group">
			    	<button class="btn4">268 (kj)</button>
			    	<button class="btn4">64 (kcal)</button>
			    	<button class="btn4">4,7 (g)</button>
			    	<button class="btn4">500 (ml)</button>
			    </div>
			     <div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="pic1price">
						<h4>0,89eur</h4>
					</div>
					<div class="pic2price">
						<h4>0,99eur</h4>
					</div>
					<div class="pic3price">
						<h4>0,79eur</h4>
					</div>
					</div>
				<h4></h4>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="column6">
			<div class="fild1">
			<img src="../images/milk13.jpg" alt="">
			<h3>ALPSKO MLIJEKO</h3>
			<h5>117.856<i class="icon-thumbs-up icon-large"></i></h5>
			<h4>by<span>Imlek</span></h4>
			
			<div class="bigtext1">
			<p>Mlijeko sadrži izrazito mnogo hranjivih tvari, a najčeće se, uz ugljiko
			hidrate laktozu, mliječne masti i bjelae vine, ističu još minerali, od kojih su najvažniji kalcij, fosfor, kalij i magnezij, te vitamini vitamin D, vitamin A.</p></div>
			 <div class="btn-group">
			    	<button class="btn4">268 (kj)</button>
			    	<button class="btn4">64 (kcal)</button>
			    	<button class="btn4">4,7 (g)</button>
			    	<button class="btn4">500 (ml)</button>
			    </div>
			    <div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="pic1price">
						<h4>0,89eur</h4>
					</div>
					<div class="pic2price">
						<h4>0,99eur</h4>
					</div>
					<div class="pic3price">
						<h4>0,79eur</h4>
					</div>
					</div>
				<h4></h4>
			
		</div>
		<div class="column6">
			<div class="fild1">
			<img src="../images/milk14.jpg" alt="">
			<h3>ALPSKO MLIJEKO</h3>
			<h5>117.856<i class="icon-thumbs-up icon-large"></i></h5>
			<h4>by<span>Imlek</span></h4>
			
			<div class="bigtext1">
			<p>Mlijeko sadrži izrazito mnogo hranjivih tvari, a najčeće se, uz ugljiko
			hidrate laktozu, mliječne masti i bjelae vine, ističu još minerali, od kojih su najvažniji kalcij, fosfor, kalij i magnezij, te vitamini vitamin D, vitamin A.</p></div>
			 <div class="btn-group">
			    	<button class="btn4">268 (kj)</button>
			    	<button class="btn4">64 (kcal)</button>
			    	<button class="btn4">4,7 (g)</button>
			    	<button class="btn4">500 (ml)</button>
			    </div>
			    <div class="pic1">
					<img src="../images/market1.jpg" alt="">
					</div>
					 <div class="pic2">
					<img src="../images/market2.jpg" alt="">
					</div>
					 <div class="pic3">
					<img src="../images/111.png" alt="">
					</div>
					<div class="pic1price">
						<h4>0,89eur</h4>
					</div>
					<div class="pic2price">
						<h4>0,99eur</h4>
					</div>
					<div class="pic3price">
						<h4>0,79eur</h4>
					</div>
					</div>
				<h4></h4>
			</div>
		</div>
	</div>
</div>