<div class="ui">
	
	<div class="column4">
	<h1>Contacting</h1>
		<div class="greyline">
			<h4></h4>
			<div class="icon1">
			 <i class="icon-calendar icon-large"></i>
			 </div>
			 <div class="icon2">
			  <i class="icon-picture icon-large"></i>
			  </div>
			  <div class="icon3">
			   <i class="icon-comment icon-large"></i>
			   </div>
			   <div class="icon4">
			    <i class="icon-user icon-large"></i>
			    </div>
			    <div class="icon5">
			     <i class="icon-flag icon-large"></i>
			     </div>
		</div>

		<div class="undergrey">
		<div class="dashed">
		 <i class="icon-plus-sign icon-large"></i>
			<h4></h4>
		</div>
			<h4></h4>
		</div>

		<div class="leftpro1">
			<h2>Red Bull <span> 2000$ </span></h2>
			<div class="leftpro1box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro2">
			<h2>Coca-Cola <span> 1000$ </span></h2>
			<div class="leftpro2box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro3">
			<h2>Red Bull <span> 2000$ </span></h2>
			<div class="leftpro3box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro4">
			<h2>Coca-Cola <span> 1000$ </span></h2>
			<div class="leftpro4box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro5">
			<h2>Coca-Cola <span> 1000$ </span></h2>
			<div class="leftpro5box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro6">
			<h2>Red Bull <span> 2000$ </span></h2>
			<div class="leftpro6box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro4">
			<h2>Coca-Cola <span> 1000$ </span></h2>
			<div class="leftpro4box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro3">
			<h2>Red Bull <span> 2000$ </span></h2>
			<div class="leftpro3box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro4">
			<h2>Coca-Cola <span> 1000$ </span></h2>
			<div class="leftpro4box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro4">
			<h2>Coca-Cola <span> 1000$ </span></h2>
			<div class="leftpro4box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro3">
			<h2>Red Bull <span> 2000$ </span></h2>
			<div class="leftpro3box">
				<h4></h4>
			</div>
		</div>

		<div class="leftpro4">
			<h2>Coca-Cola <span> 1000$ </span></h2>
			<div class="leftpro4box">
				<h4></h4>
			</div>
		</div>
	</div>

	<div class="column8">
		<div class="right">
			<h4></h4>
			<div class="heder1">
				<h1>Red Bull</h1>
				<div id="hard1">
				<h3>Economy</h3>
				<h3>by Dasmong Garner</h3>
				</div>
				<div id="hard2">
				<img src="../images/last1.png" alt="">
				<img src="../images/last2.png" alt="">
				</div>
			</div>
			<div class="heder2">
				<h4></h4>
				<img src="../images/last3.png" alt="">
				<img src="../images/last4.png" alt="">
				<img src="../images/last5.png" alt="">
				<img src="../images/last6.png" alt="">
			
			    <div id="t1">
			    <h2>4 send</h2>
			    </div>

			     <div id="t2">
			    <h2>3 apt.</h2>
			    </div>

			     <div id="t3">
			    <h2>6 ring</h2>
			    </div>

			     <div id="t4">
			    <h2>2 reload</h2>
			    </div>
			    <button class="btn1"><i class="icon-time icon-large"></i>  Next step: Apt with S. Jobs
			    </button>
			     <button class="btn2"><i class="icon-user icon-large"></i>  Steve Jobs
			    </button>
			    <button class="btn3"><i class="icon-plus-sign icon-large"></i>  Add Task
			    </button>
				</div> 

	          <button class="mainbtn1"> Tommorow </button>
	          <div class="bluever1">
	          	<h4></h4>
	          </div>	

	          <div class="bluedot1">
	          	<h4></h4>
	          </div>

	           <button class="rappel">  Rappel  <i class="icon-bell icon-large"></i>
			    </button>	

			    <div class="textbox1">
			    	<div class="datenum">
			    		<h1>02</h1>
			    	</div>
			    </div>	
              

		</div>
	</div>
</div>